/* Simple normalization */
* {
  margin : 0;
  padding: 0;
}

body {
  color: #666;
  background-color: #f1f2f2;
  font-size: 18px;
  font-family: monospace,sans-serif;
  line-height: 40px;
}

/* Page banner with title --------------------- */
.banner{
  background-color: #e6ebf4;
  color: black;
  overflow: hidden;
  width : 100%;
  border: 2px solid black;
  position: fixed;
  width : 100%;
  -webkit-transform: translateZ(0);
  z-index: 2;
  top: 0;
}

.banner a {
  float:left;
  text-align: center;
  font-size: 3em;
  font-family: monospace,sans-serif;
  padding : 10px 10px;
  text-decoration: none;
  color:black;
}

.banner ul{
  display: table-cell;
  width: 100%;
}

.banner ul li{
  display: table-row;
}

.parallax {

  /* Set a specific height */
  min-height: 400px;

  background-image: url("../images/databasePanel.jpg");


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------- Search box functionalities ----------- */
#dataSearch {
  height:100%;
  width:25vw;
}

/* Search box styles */
#searchBox {
  overflow: hidden;
  font-size: 26px;
  text-align: center;
  margin: 10px auto;
}

#searchID {
  width:70%;
  font-size: 26px;
  vertical-align: middle;
  padding: 5px;
}

#queryBttn {
  font-size: 26px;
  width:15%;
  box-sizing: border-box;
  background-color: #4488f4;
  border: none;
  color: white;
  vertical-align: middle;
  padding: 5px;
}

/* --------------- Advanced search panel ---------------- */

.advanceSearch{
  text-align: center;
}

.panel {
  background-color: #e6ebf4;
  border: 1px solid black;
  margin: auto;
  width: 95%;
  z-index: 1;
}

.panel h3 {
  overflow: hidden;
  text-align: right;
  width: 100%;
}

.arrow {
  font-size: 35px;
  margin-right: 10px;
  line-height: 20px;
  color:inherit;
  vertical-align: text-align;
  text-decoration: none;
  cursor: pointer;
}

.active {
  color: #3377d3;
  text-decoration: underline;
}

.displayResult {
  min-height: 500px;
}

/*----- option search box ------- */
.optionBox {
  border-top: 2px solid #4488f4;
  padding: 20px 0px;
}

.optionBox h2{
  margin-left: 20px;
}

/* Selection style from Eric Rasch CodePen */
.optionBox select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 3px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png),
  -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  text-overflow: ellipsis;

  min-width: 185px;
  font-size: 20px;
}

.optionBox label {
  margin-left: 20px;
  width: auto;
  display: inline-block;
}
.patientInfo {
  text-align: left;
  margin: 0 auto;
  padding-top: 1em;
  width: 90%;
}

.optionBox input{
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

  font-size: 20px;
  width: 20%;
}

.options{
  width: auto;
  display: inline-table;
}

.slide-fade-enter-active {
  transition: all 1.5s ease;
}
.slide-fade-leave-active {
  transition: all 1.2s ease;
}
.slide-fade-enter, .slide-fade-leave-to{
  transform: translateY(20px);
  opacity: 0;
}
